main {
  background-color: red;
}

section {
  background-color: grey;
 
}

#image {
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
  width: 600px;
}
#image-caption {
  font-style: italic;
  text-align: center;
}
#title {
  font-size: 80px;
  text-align: center;
  font-weight: bold;
  font-color: red;
  font-family: verdana;
}

